body{
    font-family: monospace;
    color: white;
    background-color: black;
}
h1{
    text-align: center;
    font-size: 62px;
    margin-top: 15vh;
    font-weight: bold;
}
button {
    height : 30vh;
    width: 30vh;
    font-size: 32px;
    font-family: monospace;
    font-weight: bolder;
    margin: 10px;
}

#gameboard {
    text-align: center;
}
p{
    font-size: 62px;
    font-weight: bold;
}
