body{
    font-family: monospace;
    color: white;
    background-color: black;
}
h1{
    text-align: center;
    font-size: 62px;
    font-weight: bold;
    margin-top: 8vh;
}
button {
    height : 30vh;
    width: 30vh;
    font-size: 32px;
    font-family: monospace;
    font-weight: bolder;
    margin: 10px;
}

#gameboard {
    text-align: center;
}
.para{
    font-size: 62px;
    font-weight: bold;
}
.scoreText{
    font-size: 62px;
    font-weight: bold;
    white-space: pre;
    text-align: left;
    margin-left: 27.5vh;
}
.finalScreen{
    color: white;
    font-size: 62px;
    font-weight: bold;
    white-space: pre;
    text-align: center;
    margin-top: 30vh;
}
.replay{
    margin-left: 40vw;
}
